.contacts {
	font-size: 14px;
	line-height: 55px;
}

.contacts__links {
	float: left;
	width: 180px;
}

.contacts__link {
	display: inline-block;
	text-decoration: none;
	color: #204d15;

	position: relative;
}

.contacts__add-information {
	float: right;

	position: relative;

	margin-top: 50px;
	padding-left: 65px;
}

.contacts__add-information::before {
	position: absolute;
	left: 0;
	top: 0;

	display: block;

	content: "";

	color: #204d15;
	font-family: "Icons";
	font-size: 25px;
	line-height: 55px;
	padding: 0 14px;

	background: rgba(32, 77, 21, .08);
	border-radius: 50%;
}

.contacts__link::after {
	content: "";
	position: absolute;
	bottom: 15px;
	left: 0;

	width: 100%;
	height: 1px;
	background-color: #204d15;
	opacity: .38;
}

.contacts__link:hover::after {
	opacity: .0;
	bottom: -10px;

	transition: all .4s;
}

.contacts__link:active {
	opacity: .4;
}