@font-face {
	font-family: 'Icons';
	src: url('../fonts/fa-solid-900.eot');
	src: url('../fonts/fa-solid-900.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/fa-solid-900.woff') format('woff'),
		 url('../fonts/fa-solid-900.ttf') format('truetype'),
		 url('../fonts/fa-solid-900.svg#Icons') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'MuseoSans';
	src: url('../fonts/MuseoSansCyrl 100.otf');
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: 'MuseoSans';
	src: url('../fonts/MuseoSansCyrl 100 Italic.otf');
	font-style: italic;
	font-weight: 100;
}

@font-face {
	font-family: 'MuseoSans';
	src: url('../fonts/MuseoSansCyrl 300.otf');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'MuseoSans';
	src: url('../fonts/MuseoSansCyrl 300 Italic.otf');
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: 'MuseoSans';
	src: url('../fonts/MuseoSansCyrl 900.otf');
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: 'MuseoSans';
	src: url('../fonts/MuseoSansCyrl 900 Italic.otf');
	font-style: italic;
	font-weight: 900;
}

@font-face {
	font-family: 'Natasha';
	src: url('../fonts/Natasha.ttf');
	font-style: normal;
	font-weight: normal;
}