@import url("fonts.css");
@import url("page-header.css");
@import url("site-nav.css");
@import url("page-main.css");
@import url("background.css");
@import url("merits.css");
@import url("contacts.css");
@import url("skills.css");
@import url("works.css");
@import url("page-footer.css");

body {
	margin: 0;
	letter-spacing: 0.12em;
}

p {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.container {
	width: 940px;
	padding: 0 20px;
	margin: 0 auto;

}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}