@media (max-width: 980px) {
	.container {
		width: 700px;
	}
	.page-header__logo {

	}
	.page-header__nav {
		float: right;
		margin-left: 0;
	}
	.page-header__email {
		display: none;
	}

	.page-header__title {
		margin-top: 25vh;
	}

	.page-main__part {
		width: 100%;
	}

	.skills__item {
		width: 50%;
		margin-bottom: 30px;
	}
	.page-main__title {
		margin: 30px 0;
	}
	.works__item {
		margin: 10px;
	}
	.works__overlay {
		opacity: 1;
		width: 100%;
		height: 130px;
		background: rgba(0,0,0,.6);
		-webkit-box-shadow: 0 10px 20px rgba(0,0,0,.6);
		box-shadow: 0 10px 20px rgba(0,0,0,.6);
	}

	.works__title {
		margin-top: 20px;
	}

	.works__image {
		width: 300px;
	}

}
