.works {
	
}

.works__item {
	float: left;
	width: 300px;

	position: relative;

	margin: 6.6px;
}

.works__overlay {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 299px;

	background-color: #000;
	background-color: rgba(0,0,0, .6);

	text-align: center;

	opacity: 0;
}

.works__overlay:hover {
	opacity: 1;
	transition: all .4s;
}


.works__title {
	font-size: 15px;
	line-height: 55px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;

	margin-top: 110px;
}

.works__link {
	display: inline-block;

	font-size: 14px;
	line-height: 55px;
	color: #fff;
	text-decoration: none;
	
	margin-top: -40px;

	position: relative;
}

.works__link::after {
	display: block;
	content: "";
	position: absolute;

	width: 100%;
	height: 1px;

	background-color: #fff;
	opacity: .46;

	left: 0;
	bottom: 15px;
}

.works__link:hover::after {
	opacity: 0;
	bottom: -10px;

	transition: all .4s;
}

.works__link:active {
	opacity: .4;
}